<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <p class="display-3">We've recieved your message soon will get you back</p>



    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/gem" role="button">G.E.M Website</a>
  </div>
</div>

<%- include('partials/footer') %>
